.table-container {
    display: flex;
    justify-content: center;
    margin-top: 50px;
  }
  
  .competences-table {
    width: 80%;
    border-collapse: collapse;
    font-size: 16px;
    background-color: #fff;
  }
  
  .competences-table th,
  .competences-table td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    transition: background-color 0.3s;
  }
  
  .competences-table th {
    background-color: #f2f2f2;
  }
  
  .competences-table tbody tr:nth-child(even) {
    background-color: #f9f9f9;
  }
  
  .competences-table tbody tr:hover {
    background-color: #e2e2e2;
    cursor: pointer;
  }
  