.table-container {
    display: flex;
    justify-content: center;
    margin-top: 0px;
  }
  
  .competences-table {
    width: 80%;
    border-collapse: collapse;
    font-size: 16px;
    background-color: #fff;
    margin-top: -200px;
    margin-right: 200px;
  }
  
  .competences-table th,
  .competences-table td {
    padding: 10px;
    height: 0vh;
    text-align: left;
    border-bottom: 1px solid #030303;
    transition: background-color 0.3s;
  }
  
  .competences-table th {
    background-color: #944578;
  }
  
  .competences-table tbody tr:nth-child(even) {
    background-color: #9a7b7b;
  }
  
  .competences-table tbody tr:hover {
    background-color: #443e3e;
    cursor: pointer;
  }
  .filter-options {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: line;
    height: 0vh;
} 
.button2 {
  background-color: #893281;
  color: white;
  padding: 1.5em 3em;
  border: none;
  cursor: pointer;
  text-align: center;
  margin-right: 200px;
  text-decoration: none;
  display: inline-block;
  font-size: 1.2em;
  transition: background-color 0.3s;
}