body {
    font-family: Arial, sans-serif;
}

.menu-btn {
    z-index: 3;
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 30px;
    cursor: pointer;
}

.sidebar {
    z-index: 2;
    position: fixed;
    top: 0px;
    left: -400px;
    width: 200px;
    height: 100vh;
    background: #333;
    padding: 20px;
    transition: left 0.3s ease;
}

.sidebar a {
    display: block;
    color: #f1f1f1;
    margin-bottom: 10px;
    text-decoration: none;
}

.sidebar.show {
    left: 0;
}
