/* Styles généraux */

body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    color: #333;
    padding: 20px;
}

.main {
    margin-right: 200px;
    /* Ajuster la valeur selon la largeur de votre sidebar */
    padding: 20px;
}

.user-info {
    text-align: right;
    padding: 10px;
}


/* Sidebar */

.sidebar {
    background-color: #333;
    color: #fff;
    position: fixed;
    right: 0;
    top: 0;
    bottom: 0;
    width: 200px;
    padding: 20px;
}

.sidebar a {
    display: block;
    color: #fff;
    text-decoration: none;
    margin-bottom: 10px;
}

.sidebar a:hover {
    background-color: #555;
}


/* Formulaires */

form {
    margin-bottom: 20px;
}

label {
    font-weight: bold;
}

select {
    width: 200px;
    padding: 5px;
    margin-bottom: 10px;
}

input[type="submit"] {
    padding: 8px 16px;
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #555;
}


/* Liste des compétences */

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

li {
    background-color: #fff;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

li:last-child {
    margin-bottom: 0;
}


/* Autres styles */

.menu-btn {
    display: none;
}

@media (max-width: 768px) {
    /* Styles pour les écrans de petite taille (mobile) */
    .menu-btn {
        display: block;
        position: fixed;
        left: 20px;
        top: 20px;
        background-color: #333;
        color: #fff;
        border: none;
        padding: 10px;
        z-index: 9999;
    }
    .sidebar {
        position: fixed;
        right: -200px;
        transition: right 0.3s ease;
    }
    .main {
        margin-right: 0;
    }
    .sidebar.show {
        right: 0;
    }
    .text {
        display: none;
    }
}